/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
/*------------------------------ Variables ------------------------------*/
:root{
    /*------------------------------ Colores ------------------------------*/
    --white: #f4f4f4;
    --gray-ligth: #c0c0c0;
    --gray: #656563;
    --black: #3F3F3F;
    --coffe-ligth: #A66C4B;
    --coffe-base: #592E15;
    --coffie-dark: #402110;
    /*------------------------------ Tipografía ------------------------------*/
    --font-family-title: 'Yellowtail', cursive;
    --font-family: 'Montserrat', sans-serif;
    /*------------------------------ Unidades ------------------------------*/
    --standar:16px;
    --p:12px;
}

html{
    background-color: var(--white);
    
}

body{
    font-family: var(--font-family);
    font-size: var(--standar);
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h1{
    color: var(--black);
    font-size: 36px;
    letter-spacing: 4px;
    line-height: 1.5em;
    margin: 0px;
    max-width: 500px;
}

h2{
    color: var(--gray);
    font-size: 24px;
    margin: 0;
}

h2 strong{
    color: var(--coffe-ligth);
    font-weight: 500;
}

h3{
    font-size: 18px;
    font-weight: 100;
}

a{
    color: var(--coffe-ligth);
    text-decoration: none;
}

a:hover{
    color: var(--coffe-base)
}

ol, ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* Shine */
hr.shine {
    height: 5px;
    width: 100%;
    border: 0;
    background-image: radial-gradient(
    farthest-side at 50% -50%,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0));
    position: relative; 
}

hr.shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.75) 50%,
    hsla(0, 0%, 0%, 0));
}

.me{
    margin-left: 10px;
}

.me small{
    color: var(--gray-ligth)
}

.container{
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    padding: 0 .5em;
}

.content{
    margin: 10px 30px;
    padding: 5px 20px;
}

.header{
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header a{
    text-decoration: none;   
    display: flex;    
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
    display: flex;
    align-items: center;
}

.menu{
    height: inherit;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    margin: 0 20px;
}

.hero h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 100;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    display: flex;
    margin: 1%;
    width: 48%;
    flex-shrink: 0; /*Para que tome el ancho y alto dado y no lo que se le de la gana XD*/
    border-radius: 10px;
    overflow: hidden;
}

.skill-description, .about-me-desc{
    font-weight: 300;
}

.skill-icon{
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    margin: 0 10px;
}

.skill-icon .revit{
    background-image: url(../images/revit.png);
}